@model RabiesApplication.Models.AnimalOwner

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnimalOwner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animal.BiteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.BiteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsShelter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsShelter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dateofbirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dateofbirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addressline1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addressline1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addressline2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addressline2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contactnumber1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contactnumber1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contactnumber2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contactnumber2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordEdited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordEdited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeCreatedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCreatedId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEditedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeEditedId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
</div>
