@model RabiesApplication.Web.ViewModels.BiteDetailsViewModel

@{
    ViewBag.Title = "Bite Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bite Details</h2>


<div id="BiteInformation">
    <h4>Bite</h4>
    <p class="pull-right">
        @Html.ActionLink("Edit", "BiteForm", new { id = Model.Bite.Id }, htmlAttributes: new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
    </p>
    <hr />
    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.Bite.BiteStatus.Description)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.Bite.BiteStatus.Description)</div>
        <div class="col-md-3">@Html.DisplayNameFor(model => model.Bite.City.CityName)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.Bite.City.CityName)</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.Bite.State.StateName)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.Bite.State.StateName)</div>
        <div class="col-md-3">@Html.DisplayNameFor(model => model.Bite.RowVersion)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.Bite.RowVersion)</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.Bite.BiteDate)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.Bite.BiteDate)</div>
        <div class="col-md-3">@Html.DisplayNameFor(model => model.Bite.BiteReportDate)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.Bite.BiteReportDate)</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.Bite.BiteReportedBy)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.Bite.BiteReportedBy)</div>
        <div class="col-md-3">@Html.DisplayNameFor(model => model.Bite.EmployeeAssignedId)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.Bite.EmployeeAssignedId)</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.Bite.Comments)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.Bite.Comments)</div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>


</div>




<div class="row">
    <div class="col-md-12">
        <p>Section for Human Victims</p>
        @Html.ActionLink("Add Human Victim", "HumanVictimForm", "HumanVictims", new { biteId = Model.Bite.Id }, htmlAttributes: new { @class = "btn btn-primary pull-right" })

        @Html.Partial("_HumanVictimList", Model.HumanVictims)

    </div>

    @*<div class="col-md-6">
            <p>Section for Pet Victims</p>
        </div>*@
</div>

<div class="row">
    <div class="col-md-6">
        <p>Section for Animal Information</p>
    </div>
</div>



<script>
    $(document)
        .ready(function () {
            var message = "@ViewBag.StatusMessage";
            if (message != null) {
                toastr.info("@ViewBag.StatusMessage");
            }
        });
</script>


