@model RabiesApplication.Models.Bite

@{
    ViewBag.Title = "Bite Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bite Details</h2>

<div id="BiteInformation">
    <h4>Bite</h4>
    <hr/>

    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.BiteStatus.Description)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.BiteStatus.Description)</div>
        <div class="col-md-3">@Html.DisplayNameFor(model => model.City.CityName)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.City.CityName)</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.State.StateName)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.State.StateName)</div>
        <div class="col-md-3">@Html.DisplayNameFor(model => model.RowVersion)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.RowVersion)</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.BiteDate)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.BiteDate)</div>
        <div class="col-md-3">@Html.DisplayNameFor(model => model.BiteReportDate)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.BiteReportDate)</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.BiteReportedBy)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.BiteReportedBy)</div>
        <div class="col-md-3">@Html.DisplayNameFor(model => model.EmployeeAssignedId)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.EmployeeAssignedId)</div>
    </div>

    <div class="row">
        <div class="col-md-3">@Html.DisplayNameFor(model => model.Comments)</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.Comments)</div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>


</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
