@using RabiesApplication.Web.Models
@model RabiesApplication.Web.ViewModels.BiteDetailsViewModel

@{
    ViewBag.Title = "Bite Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="BiteInformation" class="container">
    <div class="row">
        <div class="col form-inline">
            <h4 class="Display1">Bite Details</h4>
            @Html.ActionLink("Edit", "BiteForm", new { id = Model.Bite.Id }, htmlAttributes: new { @class = "btn btn-sm btn-outline-primary" }) |
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-outline-primary" })
        </div>
    </div>
    <hr/>
    <div class="row form-group">
        <div class="col"><h6>@Html.DisplayNameFor(model => model.Bite.Status)</h6></div>
        <div class="col">@Html.TextBoxFor(model => model.Bite.Status,new { @class = "form-control",disabled="disabled"})</div>
        <div class="col"><h6>@Html.DisplayNameFor(model => model.Bite.City)</h6></div>
        <div class="col">@Html.TextBoxFor(model => model.Bite.City, new { @class = "form-control", disabled = "disabled" })</div>
    </div>

    <div class="row form-group">
        <div class="col"><h6>@Html.DisplayNameFor(model => model.Bite.BiteDate)</h6></div>
        <div class="col">@Html.TextBoxFor(model => model.Bite.BiteDate,Constant.DateFormat, new { @class = "form-control", disabled = "disabled" })</div>
        <div class="col"><h6>@Html.DisplayNameFor(model => model.Bite.ReportDate)</h6></div>
        <div class="col">@Html.TextBoxFor(model => model.Bite.ReportDate, Constant.DateFormat, new { @class = "form-control", disabled = "disabled" })</div>
    </div>

    <div class="row form-group">
        <div class="col-3"><h6>@Html.DisplayNameFor(model => model.Bite.Comments)</h6>
        </div>
        <div class="col-6">@Html.TextAreaFor(model => model.Bite.Comments, htmlAttributes: new {@class = "form-control", disabled = "disabled"})</div>
    </div>


    <div class="row form-group">
        <div class="col-3"><h6>@Html.DisplayNameFor(model => model.Bite.ReminderTime)</h6></div>
        <div class="col-3">@Html.TextBoxFor(model => model.Bite.ReminderTime, htmlAttributes: new { @class = "form-control", disabled = "disabled" })</div>
    </div>


</div>
<hr class="border border-info"/>

<div class="row">
    <div class="col form-inline">
        <h4>Human Victims</h4>
        @Html.ActionLink("Add Human Victim", "HumanVictimForm", "HumanVictims", new {biteId = Model.Bite.Id}, htmlAttributes: new {@class = "btn btn-sm btn-outline-primary"})
    </div>
</div>

<div class="row">
   
    <div class="col">
       
        @if (Model.HumanVictims.Any())
        {
            @Html.Partial("_HumanVictimList", Model.HumanVictims)
        }
        else
        {
            <h4> Is there any human victims?..Add here</h4>
        }
    </div>

    @*<div class="col-md-6">
        <p class="">
            <h3>Pet Victims</h3>
            @Html.ActionLink("Add Pet Information", "PetForm", "Animals", new { biteId = Model.Bite.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary " })
        </p>
        @if (Model.Pets.Any())
        {
            @Html.Partial("_PetsList", Model.Pets)
        }
        else
        {
            <h4> Is there any pet victims?..Add here</h4>
        }

    </div>*@
</div>

<hr class="border border-info" />
<div class="row">
    <div class="col form-inline">
        <h4>Animal Information</h4>

        @if (Model.Animal != null)
        {
            @Html.ActionLink("Add Animal Information", "AnimalForm", "Animals", new {biteId = Model.Bite.Id}, htmlAttributes: new {@class = "btn btn-sm btn-outline-dark disabled"})
        }
        else
        {
            @Html.ActionLink("Select Animal", "SelectAnimal", "Animals", new { biteId = Model.Bite.Id }, htmlAttributes: new { @class = "btn btn-sm btn-outline-primary " })
            @Html.ActionLink("Add Animal Information", "AnimalForm", "Animals", new {biteId = Model.Bite.Id}, htmlAttributes: new {@class = "btn btn-sm btn-outline-primary "})
        }
    </div>



    <div class="col form-inline">
        <h4>Animal Owner Information</h4>
    
        @*@if (Model.AnimalOwner != null)
            {
            @Html.ActionLink("Add Animal Owner", "AnimalOwnerForm", "AnimalOwners", null, htmlAttributes: new { @class = "btn btn-sm btn-outline-dark  disabled" })
        }
        else
        {
            if (Model.Animal != null)
            {
                @Html.ActionLink("Add Animal Owner", "AnimalOwnerForm", "AnimalOwners", new { animalId = Model.Animal.Id }, htmlAttributes: new { @class = "btn btn-sm btn-outline-primary " })
            }
        }*@
    </div>
</div>

<div class="row">
    <div class="col">
        @if (Model.Animal != null)
        {
            @Html.Partial("_AnimalDetails", Model.Animal)
        }
        else
        {
            <h4> Add animal information here..</h4>
        }
    </div>

    <div class="col-md-6">
        @if (Model.AnimalOwner != null)
        {
            @Html.Partial("_AnimalOwner", Model.AnimalOwner)
        }
    </div>
</div>

<hr class="border border-info"/>

<div class="row">
    <div class="col">
        <h4>Vet</h4>
        @if (Model.Vet != null)
        {
            @Html.Partial("_VetView", Model.Vet)
        }
        else
        {
            <h4>No Vet information</h4>
        }
    </div>
</div>


<hr class="border border-info" />

<div class="row">
    @if (Model.Animal != null)
    {
        <div class="col-md-6">
            @using (Html.BeginForm("GenerateLetter", "Bites", new {biteId = Model.Bite.Id, animalId = Model.Animal.Id}))
            {
                <div class="form-inline">
                    <h4>Initial Letters</h4>

                    <select id="Letter Type" name="Letter Type" class="form-control" required="required">
                        <option value="">Select Letter</option>
                        <option value="1">10 Day Quarantine Same</option>
                        <option value="2">10 Day Quarantine Different</option>
                        <option value="3">10 Day Quarantine Shelter</option>
                        <option value="4">45 Day Quarantine</option>
                        <option value="5">6 months Quarantine</option>
                    </select>
                    <button class="btn btn-sm btn-primary" type="submit">Generate Letter</button>
                </div>
            }
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("GenerateLetter", "Bites", new {biteId = Model.Bite.Id}))
            {
                <div class="form-inline">
                    <h4>Followup Letters</h4>
                    <select id="Letter Type" name="Letter Type" class="form-control" required="required">
                        <option value="">Select Letter</option>
                        <option value="1">Ten Day Quarantine Same</option>
                        <option value="2">Ten Day Quarantine Different</option>
                        <option value="3">Ten Day Quarantine Shelter</option>
                        <option value="4">45 Day Quarantine</option>
                        <option value="5">6 months Quarantine</option>
                    </select>
                    <button class="btn btn-sm btn-primary" type="submit">Generate Letter</button>
                </div>
            }
        </div>
    }
    else
    {
        <p> Please add animal details to generate letter</p>
    }
</div>


<hr class="border border-info" />

<div class="row">
    <div class="col">
        <h4>Actions</h4>
        @if (Model.Actions != null)
        {
            @Html.Partial("_ActionView", Model.Actions)
        }
        else
        {
            <h4>No Vet information</h4>
        }
    </div>
</div>