@*@model PagedList.IPagedList<RabiesApplication.Web.ViewModels.BitesIndexViewModel>*@
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col form-inline">
        <h4>Bites List</h4>
        @Html.ActionLink("Create New", "BiteForm", null, htmlAttributes: new {@class = "btn btn-outline-primary"})
    </div>
</div>
<br />

<table class="table  table-condensed table-hover" id="bites">
    <thead class="thead-dark">
    <tr>
        <th>
            Id
        </th>
        <th>
            Animal Owner
        </th>
        <th>
            Animal Name
        </th>
        <th>
            BiteDate
        </th>
        <th>
            City
        </th>
        <th>
            Victim Name
        </th>
        <th>
            Status
        </th>
        <th>
            Edit
        </th>
        <th>
            Details
        </th>
    </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            <tr>*@
                @*<td>@item.Id.Substring(@item.Id.Length-4,4)</td>*@
                @*@Html.DisplayFor(modelItem => item.PetOwner)*@
                @*<td>@Html.ActionLink(item.AnimalOwner, "AnimalOwnerForm", "AnimalOwners", new { animalOwnerId = item.AnimalOwnerId }, null)</td>*@
                @*<td>@Html.DisplayFor(modelItem => item.AnimalName)</td>*@
                @*<td>@Html.DisplayFor(modelItem => item.BiteDate)</td>*@
                @*<td>@Html.DisplayFor(modelItem => item.City)</td>*@
                @*<td>@Html.ActionLink(item.VictimName, "HumanVictimForm", "HumanVictims", new {biteId = item.Id, victimId = item.VictimId}, null)</td>*@
                @*<td>@Html.DisplayFor(modelItem => item.Status)</td>*@




                @*<td>*@

                    @*@Html.ActionLink("Edit", "BiteForm", new {id = item.Id}, htmlAttributes: new {@class = "btn btn-sm btn-outline-primary"}) |*@
                    @*@Html.ActionLink("Details", "Details", new {biteId = item.Id, animalId = item.AnimalId}, htmlAttributes: new {@class = "btn btn-sm btn-outline-warning"}) |*@
                    @*@Html.ActionLink("Delete", "Delete", new {id = item.Id}, htmlAttributes: new {@class = "btn btn-sm btn-outline-danger"})*@
                @*</td>*@
            @*</tr>
        }*@
    </tbody>

</table>

<br />
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, pageNo => Url.Action("Index", new { pageNo }))*@
@*, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))*@

@section scripts{
<script>

    $("#bites").DataTable({
        "ajax": {
            "url": "Bites/GetBites/",
            "type": "GET",
            "dataSrc": ""
        },

        "columns": [
            {
                "data": "Id",
                "render":function(data) {
                    return data.substr(data.length - 4, 4);
                }

            },
            {
                "data": "",
                "render": function (data,type,row) {
                    return '<a href="/AnimalOwners/AnimalOwnerForm?animalOwnerId=' + row.AnimalOwnerId + '">' + row.AnimalOwner + '</a>';
                }
            },
            { "data": "AnimalName" },
            { "data": "BiteDate" },
            { "data": "City" },
            {
                "data": "VictimName",
                "render": function (data, type, row) {
                    return '<a href="/HumanVictims/HumanVictimForm?victimId=' + row.VictimId + '">' + row.VictimName + '</a>';
                }
            },
            { "data": "Status" }
            , {
                "data": "Id",
                "render":function(data) {
                    return '<a href="/Bites/BiteForm/' + data + '"class="btn btn-sm btn-outline-primary">Edit</a>';
                }
            }
            , {
                "data": "",
                "render": function (data, type, row) {
                    return '<a href="/Bites/Details?biteId=' + row.Id + '&animalId=' + row.AnimalId + '"class="btn btn-sm btn-outline-warning">Details</a>';
                    //return '<a href="/Bites/BiteForm/' + data + '"class="btn btn-sm btn-outline-primary">Edit</a>';
                }
            }
            //, {
            //    "data": "Id",
            //    "render": function (data) {
            //        return '<a href="/Bites/BiteForm/' + data + '"class="btn btn-sm btn-outline-primary">Edit</a>';
            //    }
            //}
        ]
    });

</script>
}
