@model PagedList.IPagedList<RabiesApplication.Web.Models.BitesViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "BiteForm",null,htmlAttributes:new {@class="btn btn-primary"})
</p>
<table class="table table-sm table-condensed table-hover table-responsive">
    <thead>
        <tr>
            <th>
                Pet Owner
            </th>
            <th>
                Animal Name
            </th>
            <th>
                BiteDate
            </th>
            <th>
                City
            </th>
            <th>
                Victim Name
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PetOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BiteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VictimName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>




                <td>
                    
                    @Html.ActionLink("Edit", "BiteForm", new {id = item.Id}, htmlAttributes: new {@class = "btn btn-sm"}) |
                    @Html.ActionLink("Details", "Details", new {biteId = item.Id, animalId = item.AnimalId}, htmlAttributes: new {@class = "btn btn-sm"}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id}, htmlAttributes: new {@class = "btn btn-sm "})
                </td>
            </tr>
        }
    </tbody>

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, pageNo => Url.Action("Index",new { pageNo }))@*, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))*@ 


 




@*<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        $('#bites').DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                "url": "/Bites/GetBites",
                "type": "Get",
                "dataType": "json",
                "dataSrc":''
            },
    "columns":[
        {"data":"Id"}
        ]
        });
    });
</script>*@