@using PagedList.Mvc
@model PagedList.IPagedList<RabiesApplication.Models.Vet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "VetForm")
</p>
<table class="table table-condensed table-bordered table-stripped table-hover">
    <tr>
        <th>
            Name
        </th>

        <th>
            Addressline1
        </th>

        <th>
            Addressline2    
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            ZipCode
        </th>
        <th>
            Contact1
        </th>
        <th>
            Contact2
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addressline1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addressline2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zipcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contactnumber1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contactnumber2)
        </td>
       

        <td>
            @Html.ActionLink("Edit", "VetForm", new {vetId = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, pageNo => Url.Action("Index", new { pageNo }))