@model IEnumerable<RabiesApplication.Models.Action>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bites.CityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordEdited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCreatedId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeEditedId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bites.CityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordEdited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCreatedId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeEditedId)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
