@model RabiesApplication.Web.ViewModels.AnimalOwnerViewModel

<table class="table table-condensed table-bordered  table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
      
        <th>Action</th>
    </tr>

@*@foreach (var model in Model) {*@
    <tr>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.State)
        </td>
        <td>
            @Html.DisplayFor(model => model.Zip)
        </td>
        
     
        <td>
            @Html.ActionLink("Edit", "AnimalOwnerForm","AnimalOwners", new { animalOwnerId = Model.Id},htmlAttributes:new {@class = "btn btn-outline-primary btn-sm"}) 
        </td>
    </tr>


</table>
