@model RabiesApplication.Models.PetOwner

<table class="table table-bordered table-condensed">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.StateName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.IsShelter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Addressline1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addressline2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contactnumber1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contactnumber2)
        </th>

        <th></th>
    </tr>

@*@foreach (var model in Model) {*@
    <tr>
       
        <td>
            @Html.DisplayFor(model => model.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(model => model.State.StateName)
        </td>
      
        <td>
            @Html.DisplayFor(model => model.IsShelter)
        </td>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
       
        <td>
            @Html.DisplayFor(model => model.Addressline1)
        </td>
        <td>
            @Html.DisplayFor(model => model.Addressline2)
        </td>
        <td>
            @Html.DisplayFor(model => model.Zipcode)
        </td>
        <td>
            @Html.DisplayFor(model => model.Contactnumber1)
        </td>
        <td>
            @Html.DisplayFor(model => model.Contactnumber2)
        </td>

        <td>
            @Html.ActionLink("Edit", "PetOwnerForm","PetOwners", new { animalId= Model.AnimalId,ownerId = Model.Id },null) |
            @Html.ActionLink("Delete", "Delete", new { id= Model.Id })
        </td>
    </tr>


</table>
