@model IEnumerable<RabiesApplication.Models.Animal>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bite.CityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breed.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Species.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVictim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVacinated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VaccineDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VaccineExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TagNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVacinatedPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVacinatedPrior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsQuarantine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsQuarantineCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuarantineVerification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordEdited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCreatedId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeEditedId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bite.CityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breed.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Species.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vet.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVictim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVacinated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaccineDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaccineExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TagNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVacinatedPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVacinatedPrior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsQuarantine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsQuarantineCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuarantineVerification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordEdited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCreatedId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeEditedId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
