@model RabiesApplication.Web.ViewModels.VetViewModel

<div>
    <table class="table table-condensed table-bordered table-hover table-striped ">
        
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.Zip)</th>
            <th>@Html.DisplayNameFor(model => model.Phone1)</th>
            <th>@Html.DisplayNameFor(model => model.Phone2)</th>
            <th></th>
        </tr>
        
        
        <tr>
            <td>@Html.DisplayFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Address)</td>
            <td>@Html.DisplayFor(model => model.City)</td>
            <td>@Html.DisplayFor(model => model.Zip)</td>
            <td>@Html.DisplayFor(model => model.Phone1)</td>
            <td>@Html.DisplayFor(model => model.Phone2)</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |@Html.ActionLink("Back to List", "Index")</td>
        </tr>
        
    </table>

</div>
