@model RabiesApplication.Web.ViewModels.AnimalListViewModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select Animal</h2>

<script src="~/Scripts/knockout-3.4.2.debug.js"></script>


@using (Html.BeginForm("Link", "Animals"))
{

    @*@Html.Hidden("BiteId",(object)ViewBag.BiteId)*@
    @Html.HiddenFor(model => model.BiteId);

    <div class="row form-group">
        <div class="col-3">
            <select id="animalId" data-bind="value:selectedanimal,options: $root.animals,optionsText:'Name',optionsCaption:'Choose Animal'" class="form-control"></select>
        </div>
        <div class="col-md-3">
            <input type="submit" value="Save" class="btn btn-success btn-block" data-bind="attr : {'disabled' : isDisabled()}"/>
        </div>
        <div class="col-md-3">
            <input type="hidden" id="AnimalId" name="AnimalId" data-bind="value:selectedanimalId()" />
            @*<input  id="selectedAnimalId" data-bind="value:isDisabled()" />*@
        </div>
    </div>
    
}

<hr/>

<div class="row">
    <div class="col">

        @Html.Label("Name", htmlAttributes: new { @class = "control-label col" })
        <div class="col-md-9">
            <input data-bind="value:Name" class="form-control" disabled="disabled"/>
        </div>

    </div>
    <div class="col ">

        @Html.Label("AnimalOwnerId", htmlAttributes: new { @class = "control-label col" })
        <div class="col-9">
            <input  data-bind="value:OwnerName" class="form-control" disabled="disabled"/>
        </div>
        <div class="col-md-3">

        </div>
    </div>


</div>

<div class="row">

    <div class="col">

        @Html.Label("SpeciesId", htmlAttributes: new { @class = "control-label col" })
        <div class="col-md-9">
            <input data-bind="value:Species" class="form-control" disabled="disabled" />
        </div>

    </div>

    <div class="col">

        @Html.Label("BreedId", htmlAttributes: new { @class = "control-label col" })
        <div class="col-md-9">
            <input data-bind="value:Breed" class="form-control" disabled="disabled" />
        </div>

    </div>

</div>

<div class="row">
    <div class="col">

        @Html.Label("TagNumber", htmlAttributes: new { @class = "control-label col" })
        <div class="col-md-9">
            <input data-bind="value:TagNumber" class="form-control" disabled="disabled" />
        </div>

    </div>
    <div class="col">

        @Html.Label("VetId", htmlAttributes: new { @class = "control-label col" })
        <div class="col-md-9">
            <input data-bind="value:Vet" class="form-control" disabled="disabled" />
        </div>


    </div>
</div>

<br />

<div class="row">
    <div class="col form-inline">

        <div class="form-check">
            <label class="form-check-label">
                @Html.Label("Sex", htmlAttributes: new { @class = "control-label col" })
                <input type="checkbox" data-bind="checked:Sex" disabled="disabled" />
            </label>
        </div>
    </div>
    <div class="col form-inline">

        <div class="form-check">
            <label class="form-check-label">
                @Html.Label("IsVacinated", htmlAttributes: new { @class = "control-label col" })
                <input type="checkbox" data-bind="checked:IsVacinated" disabled="disabled" />
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col form-inline">
        <div class="form-check">
            <label class="form-check-label">
                @Html.Label("IsVacinatedPost", htmlAttributes: new { @class = "control-label col" })
                <input type="checkbox" data-bind="checked:IsVacinatedPost" disabled="disabled" />
            </label>
        </div>

    </div>
    <div class="col form-inline">
        <div class="form-check">
            <label class="form-check-label">
                @Html.Label("IsVacinatedPrior", htmlAttributes: new { @class = "control-label col" })
                <input type="checkbox" data-bind="checked:IsVacinatedPrior" disabled="disabled" />
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col form-inline">

        <div class="form-check">
            <label class="form-check-label">
                @Html.Label("IsQuarantine", htmlAttributes: new {@class = "control-label col"})
                <input type="checkbox" data-bind="checked:IsQuarantine" disabled="disabled"/>
            </label>
        </div>
    </div>

    <div class="col form-inline">
        <div class="form-check">
            <label class="form-check-label">
                @Html.Label("IsQuarantineCompleted", htmlAttributes: new { @class = "control-label col" })
                <input type="checkbox" data-bind="checked:IsQuarantineCompleted" disabled="disabled" />
            </label>
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col">

        @Html.Label("VaccineDate", htmlAttributes: new { @class = "control-label col" })
        <div class="col-md-9">
            <input data-bind="value:VaccineDate" class="form-control" disabled="disabled" />
        </div>

    </div>
    <div class="col">

        @Html.Label("VaccineExpirationDate", htmlAttributes: new { @class = "control-label col" })
        <div class="col-md-9">
            <input data-bind="value:VaccineExpirationDate" class="form-control" disabled="disabled" />
        </div>


    </div>
</div>

<div class="row">
    <div class="col">

        @Html.Label("QuarantineVerification", htmlAttributes: new {@class = "control-label col"})
        <div class="col-md-9">
            <input data-bind="value:QuarantineVerification" class="form-control" disabled="disabled" />
        </div>

    </div>
    <div class="col"></div>

</div>




<script>
    $(document)
        .ready(function () {
            
            function AnimalViewModel() {

                var self = this;

                this.animals = ko.observable();
                this.selectedanimal = ko.observable();
                self.isDisabled = ko.observable(true);
                self.selectedanimalId = ko.observable();

                this.Name = ko.observable();
                this.OwnerName = ko.observable();
                this.Species = ko.observable();
                this.Breed = ko.observable();
                this.TagNumber = ko.observable();
                this.Vet = ko.observable();
                this.Sex = ko.observable();
                this.IsVacinated = ko.observable();
                this.IsVacinatedPost = ko.observable();
                this.IsVacinatedPrior = ko.observable();
                this.IsQuarantine = ko.observable();
                this.IsQuarantineCompleted = ko.observable();
                this.VaccineDate = ko.observable();
                this.VaccineExpirationDate = ko.observable();
                this.QuarantineVerification = ko.observable();


                this.getAnimalIdList = function () {
                    $.get('/Animals/GetAnimalIdList', this.animals);
                }

                

                this.setData = function(result) {
                    self.Name(result.ViewModel.Name);
                    self.OwnerName(result.OwnerName);
                    self.Species(result.Species);
                    self.Breed(result.Breed);
                    self.TagNumber(result.ViewModel.TagNumber);
                    self.Vet(result.Vet);
                    self.Sex(result.ViewModel.Sex);
                    self.IsVacinated(result.ViewModel.IsVacinated);
                    self.IsVacinated(result.ViewModel.IsVacinatedPost);
                    self.IsVacinatedPrior(result.ViewModel.IsVacinatedPrior);
                    self.IsQuarantine(result.ViewModel.IsQuarantine);
                    self.IsQuarantineCompleted(result.ViewModel.IsQuarantineCompleted);
                    self.VaccineDate(result.ViewModel.VaccineDate);
                    self.VaccineExpirationDate(result.ViewModel.VaccineExpirationDate);
                    self.QuarantineVerification(result.ViewModel.QuarantineVerification);
                }

                this.getAnimalData = function (animalId) {
                    $.ajax({
                        url: '/Animals/GetJsonAnimalById',
                        data: { animalId: animalId },
                        success: function (result) {
                            self.setData(result);
                        }
                    });
                }


                this.getAnimalIdList();
                this.selectedanimal.subscribe(function (newValue) {
                    // Handle a change here, e.g. update something on the server with Ajax.

                    self.isDisabled(true);
                    if (newValue.Id.length > 0) {
                        self.isDisabled(false);
                    }


                    self.selectedanimalId(newValue.Id);

                    self.getAnimalData(newValue.Id);
                });

            }

            

            ko.applyBindings(new AnimalViewModel());

        });

    

</script>